

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>09_npm</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/default.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="login">
        <h1>member list</h1>
        <ul style="overflow-y: scroll;
        height: 500px;color:white;">
            {% for member in members %}
                <h3 style="color:white;">- {{member.userid}}</h3>
                    userid: <input type="text" readonly="true" value="{{member.userid}}">
                    name: <input type="text" readonly="true" value="{{member.name}}">
                    phone: <input type="text" readonly="true" value="{{member.phone}}">
                    email: <input type="text" readonly="true" value="{{member.email}}">
                    created_at: <input type="text" readonly="true" value="{{member.created_at}}">
            {% endfor %}
        </ul><br><br>   
    </div>
</body>
</html>
